body {
    font: 1rem sans-serif;
    background-color: black;
    color: #4bd8ec;
    color: white;
    margin: 15px;
    margin-right: 0px;
    padding: 2%;
    padding-right: 1%;
    border: 5px solid red;
    border-right: none;
    border-image: url("../img/background.png") 150;
    border-image-width: 5vh 5vw;
    display: flex;
    flex-direction: row;
    height: auto;
}

body * {
    min-width: 0;
    box-sizing: border-box;
    overflow-wrap: anywhere;
}


body #informations {
    margin-left: 10px;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body #informations>* {
    width: 100%;
    background-color: rgba(255, 0, 0, 0.2);
    border-right: 4px solid red;
    border-left: 4px solid red;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    padding: 10px;
    margin: 0px;
}

body #informations>*:not(:first-child) {
    flex-grow: 1;
}

body #informations>*:not(:first-child).perso {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

body #informations p {
    text-align: center;
}

body #informations section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

body #informations section a {
    flex-grow: 1;
}

body #informations a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: #4bd8ec;
    color: white;
}

body #informations a img {
    width: 25%;
}

body #informations a:hover {
    color: red;
}

body #informations ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    list-style-type: none;
}

body #technos {
    width: 5%;
    margin-right: 30px;
    padding: 0px;
    flex-grow: 1;
}

body #technos ul {
    height: 100%;
    width: auto;
    background-color: rgba(255, 0, 0, 0.2);
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}


body #technos li {
    height: 100%;
    width: auto;
    border-right: 4px solid red;
    border-left: 4px solid red;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

body #technos li img {
    height: 100%;
    width: auto;
}

body #Competences {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

body #Competences section {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

body #Competences section a {
    flex-basis: 48%;
    flex-grow: 1;
}

body #Competences section a section {
    height: 100%;
}

body #Competences section a section h2 {
    height: fit-content;
    width: 100%;
}

body #Competences section a section ul {
    list-style-type: none;
    padding: 1%;
}


body #Projets {
    flex-basis: 35%;
    min-width: 20%;
    display: flex;
    flex-direction: column;
}

body #Projets a {
    flex-grow: 1;
}

body #Projets a section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body #Projets a section p {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


body #Projets *,
#Competences * {
    text-align: center;
    margin: 0px;

}

body #Projets h1,
#Competences h1 {
    border-right: 4px solid red;
    border-left: 4px solid red;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    color: red;
    color: black;
}

body #Projets a,
#Competences a {
    margin: 1%;
    box-shadow: 0px 0px 3px 3px;
    text-decoration: none;
    color: white;
}

body #Projets a section,
#Competences a section {
    border-right: 4px solid red;
    border-left: 4px solid red;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    background-color: rgba(255, 0, 0, 0.2);
    text-align: center;
}

body #Projets a section h2,
#Competences a section h2 {
    margin: 0px;
    padding: 5px;
    border-bottom: 2px solid red;
    color: red;
}

body #Projets a:hover section,
#Competences a:hover section {
    color: red;
    box-shadow: 0px 0px 3px 3px;
}

@media (max-width: 900px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;

    }

    body>* {
        margin: 2%;
        width: 95%;
    }

    body #informations {
        margin-right: 0px;
    }

    body #informations>img {
        box-sizing: border-box;
        padding: 10%;
    }



    body #Competences {
        margin-right: 0px;
        margin-bottom: 0px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    body #Competences h1 {
        grid-column: 1 / span 2;

    }


    body #Competences footer ul {
        flex-wrap: wrap;
    }

    body #Projets {
        margin-right: 0px;
        justify-content: center;
    }
}
