body {
    font: 14pt sans-serif;
    background-color: black;
    color: #4bd8ec;
    margin: 15px;
    margin-right: 0px;
    padding: 25px;
    padding-right: 0px;
    border: 5px solid red;
    border-right: none;
    border-image: url("../img/border.png") 100;
    border-image-width: 5vh 5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
}

body #Competences {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}

body #Competences>* {
    width: 100%;
    border-right: 4px solid red;
    border-left: 4px solid red;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.2);
}

body #Competences h1 {
    font-weight: bold;
    color: red;
}

body #Competences>section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

body #Competences>section h2 {
    border-bottom: solid 1px red;
    padding: 5px;
    margin: 0px;
    font-weight: bolder;
    color: red;
    grid-column: 1 / span 4;
}

body #Competences>section ul {
    padding: 5px;
    list-style-type: none;
    margin: 0px;
}

body #Competences section ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

body #Competences section ul:nth-of-type(1) {
    border-right: solid 1px red;
    grid-column: 1 / span 3;
}

body #Competences section ul:nth-last-of-type(1) {
    grid-column: 1 / span 4;
    border-top: solid 1px red;
    flex-direction: row;
}

body #Competences section a {
    text-decoration: none;
    color: #4bd8ec;
}

body #Competences section a:hover {
    color: red;
}


body #Competences img {
    width: 50px;
}

@media (max-width: 900px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    body #Informations img {
        width: 25%;
    }

    body #Competences {
        margin-right: 0px;
        margin-bottom: 0px;
        width: 80%;
        justify-content: center;
    }

    body #Competences footer ul {
        flex-wrap: wrap;
    }

    body #Projets {
        margin-right: 0px;
        width: 80%;
        justify-content: center;
    }
}
